<html>
<head>
  <title>Firebeats</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <a href='/auth/garmin?repository_access=true'> Get Garmin </a> </br></br>
</html>
